---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
import PostsList from "@/src/components/PostsList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/src/consts";
import { loadNotesCollection } from "@/src/content.config";

const notes = await loadNotesCollection()
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} type="website">
	<h1 id="notes-archive">Notes Archive</h1>

	<PostsList posts={notes} />
</BaseLayout>
