---
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import PostsList from "../../components/PostsList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { loadNotesCollection } from "../../content.config";

const notes = await loadNotesCollection()
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} type="website" />
	</head>
	<body>
		<div class="actual-content">
			<Header />
			<main id="main">
				<h1 id="notes-archive">Notes Archive</h1>

				<PostsList posts={notes} />
			</main>
		</div>
		<Footer />
	</body>
</html>
