---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
import PostsList from "@/src/components/PostsList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/src/consts";
import { loadBlogCollection } from "@/src/content.config";

const posts = await loadBlogCollection()
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} type="website">
	<h1 id="blog-archive">Blog Archive</h1>

	<PostsList posts={posts} />
</BaseLayout>
