---
import BaseHead from "@/src/components/BaseHead.astro";
import Footer from "@/src/components/Footer.astro";
import Header from "@/src/components/Header.astro";
import PostsList from "@/src/components/PostsList.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/src/consts";
import { loadBlogCollection } from "@/src/content.config";

const posts = await loadBlogCollection()
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} type="website" />
	</head>
	<body>
		<div class="actual-content">
			<Header />
			<main id="main">
				<h1 id="blog-archive">Blog Archive</h1>

				<PostsList posts={posts} />
			</main>
		</div>
		<Footer />
	</body>
</html>
