<header>
    <h1>{{ site.title }}</h1>

    {% if site.subtitle %}
    <p>{{ site.subtitle }}</p>
    {% endif %}

    <nav>
        <menu class="width">
            {% assign url_elements = page.url | split: "/" %}
            {% for nav in site.navigation %}
            {% assign nav_elements = nav.url | split: "/" %}
            <li {% if url_elements[1] == nav_elements[1] %}class="selected"{% endif %}><a href="{{ nav.url }}" class="block">{{ nav.name }}</a></li>
            {% endfor %}
        </menu>
    </nav>
</header>