---
import BaseLayout from "@/src/layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/src/consts";
import { loadBlogCollection, loadNotesCollection } from "@/src/content.config";

const posts = await loadBlogCollection();
const notes = await loadNotesCollection();

const allTags = Array.from(new Set(
    [...posts, ...notes]
        .map((e) => e.data.tags)
        .flat()
        .filter((e) => e),
));
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} type="website">
    <h1>Tags</h1>

    <ul>
        { allTags.map(tag => (
            <li><a href={`/tags/${tag}`}>{tag}</a></li>
        )) }
    </ul>
</BaseLayout>
