<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Security-Policy" content="default-src 'self' sa.oltdaniel.eu">

    <title>{{ page.title | default: "Blog" }} - {{ site.title }}</title>

    {% seo %}

    <link rel="stylesheet" href="{{ "/assets/matcha.css" | absolute_path }}">

    <script src="{{ "/assets/highlight.js" | absolute_path }}" defer></script>
</head>
<body>
    {{ content }}

    <script async defer src="https://sa.oltdaniel.eu/latest.js"></script>
    <noscript><img src="https://sa.oltdaniel.eu/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
</html>